<html>
<head>
    {% if title %}<title>{{ title }}</title>{% endif %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
    var HOSTNAME = "{{ hostname|safe }}";
    </script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</head>
<body style="background-color:#FEFEFE">
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
